.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


h3 {
  font-size: 18px;
  color: #407DBA;
}

h2 {
  font-size: 20px;
  color: #407DBA;
}

h1 {
  font-size: 30px;
  color: #407DBA;
}


